<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <script>
    const lang = navigator.language.toLowerCase().startsWith('de') ? 'de' : 'en';
    window.location.replace('/' + lang);
  </script>
</head>
<body></body>
</html>
